.DashboardHome {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto 11.25% 11.25% 11.25% 11.25% 11.25% 11.25%;
    grid-template-areas: "calendar badge-1 badge-1 badge-2 badge-2 badge-3 badge-3" "calendar badge-4 badge-4 badge-5 badge-5 badge-6 badge-6" "calendar . badge-7 badge-7 download download .";
}

.DashboardHome .calendar-parent {
    grid-area: calendar;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #272727;
}

.DashboardHome .download {
    grid-area: download;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.DashboardHome .download .text {
    margin-top: 5px;
    font-size: 1.1em;
    font-weight: 700;
    background: transparent;
}

.DashboardHome .download .svg {
    height: 100px;
    width: 100px;
    background: transparent;
}

.DashboardHome .download .svg svg {
    height: 100px;
    width: 100px;
}