.Dashboard{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 100%;
    grid-template-areas: "navbar" ".";
}

.Dashboard .navbar{
    grid-area: navbar;
}