.NavBar{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo navlinks profile logout";
    background: #272727;
}

.NavBar .logo{
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 2em;
    color: white;
}

.NavBar ul{
    grid-area: navlinks;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}

.NavBar ul .link{
    text-decoration: none;
    color: white;
}

.NavBar .profile{
    grid-area: profile;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.NavBar .profile .name{
    color: white;
}

.NavBar .logout{
    grid-area: logout;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.NavBar .logout a{
    text-decoration: none;
    color: white;
}